@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/GmarketSansLight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/GmarketSansMedium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/GmarketSansBold.woff') format('woff');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Gmarket Sans', sans-serif !important;
}